*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*HEADER*/
div.header{
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/*NAVIGATION BAR*/
div.navi{
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  bottom: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
}
div.navi > ul {
  list-style-type: none;
  overflow: hidden;
  background-color: DimGrey;
}
div.navi > ul > li {
  display: inline;
  float: left;
}
div.navi > ul > li > a{
  color: white;
  display: block;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
}
div.navi > ul > li > a:hover{
  color: black;
  background-color: DeepSkyBlue;
}


div.body-container{
  width: 98%;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
}

/*VERTICAL MENU*/
div.navigation{
  width: 15%;
}
div.navigation > ul{
  margin: auto;
  position: sticky;
  top: 60px;
}
div.navigation > ul > li{
  display: block;
  text-align: center;
  background-color: DimGrey;
  border-bottom-style: solid;
  border-color: white;
  border-width: thin;
}
div.navigation > ul > li > a{
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}
div.navigation > ul > li > a:hover{
  color: black;
  background-color: DeepSkyBlue;
}
a.active{
  background-color: DeepSkyBlue;
}
div.navigation > ul > p {
  text-align: center;
  color: white;
  background-color: black;
  margin: auto;
  padding: 10px;
}

div.main{
  padding: 10px;
  float: left;
  overflow: auto;
  background-color: ;
  width: inherit;
  max-height: 666px;
}

div.footer{
  border-width: 1px;
  padding: 0px;
  margin: 10px;
  text-align: center;
}

/*table of profit*/
div.profit_table_wrapper{
  max-height: 300px;
  overflow: auto;
}
table.profit_table{
  border-collapse: collapse;
}

table.profit_table tr th{
  border-style: solid;
  border-width: thin;
}

table.profit_table td{
  border-style: solid;
  border-width: thin;
}

/*table of unit profit*/
div.unit_profit_wrapper{
  max-height: 300px;
  overflow: auto;
}
table.unit_profit_table{
  border-collapse: collapse;
}

table.unit_profit_table tr th{
  border-style: solid;
  border-width: thin;
}

table.unit_profit_table td{
  border-style: solid;
  border-width: thin;
}

/*RESPONSIVE CSS*/
@media screen and (max-width:600px) {
  div.main{
    width:100%;
  }
  div.navigation{
    visibility: hidden;
    width: 0%;
  }
  div.footer{
    visibility: hidden;
  }
}
